<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="style.css" media="screen">
</head>

<body>
    <div class="container main">
        <div class="row ">
            <div class="column-1">
                <img class="col-img" style="width:60%;height: 60%;" src="image/ieee_copy.jpg" alt="">
                <img class="col-img" style="width:60%;height: 60%;" src="image/ieee1.png" alt="">
                <img class="col-img" style="width:60%;height: 60%;" src="image/ieee3.jpg" alt="">
                <img class="col-img" style="width:60%;height: 60%;" src="image/ieee4.jpg" alt="">
                <img class="col-img" style="width:60%;height: 60%;" src="image/ieee5.jpg" alt="">
            </div>
            <div class="column-2">
                <div class="container">
                    <h2 class="heading"><b>Welcome Here</b></h2>
                    <hr style="height: 0.2rem;border-color: black; ">
                    <p style="text-align: center;font-family: 'Mate SC', serif;font-size: 1.1em; ">To Keep Connected With Us Please Login With Your Personal Information By Username And Password</p>
                    <p style="color: Red;font-size: 1.1em;font-family: 'Merriweather', serif;text-align: center;margin-bottom: 0em;">
                        <%=wrong%>
                    </p>
                    <div style="padding:1em;width:80%;background-image: url( 'image/back22.jpg');margin-left: auto;margin-right: auto;border-radius: 1em;border-color: grey;box-shadow: 1em 1em 1.5em rgb(51, 130, 69); ">
                        <form style="display: inline;" action="/login" method="post">
                            <div class="login ">
                                <div class="col3 ">
                                    <img style="width: 55%; height: 55%; " src="image/icons8-email-open-48.png " alt=" ">
                                </div>
                                <div class="col8 ">
                                    <!-- <p style="height: 10%; ">Enter Username</p> -->
                                    <input type="text " name="user" placeholder=" Enter Username" autocomplete="off">
                                </div>
                            </div>
                            <div class="login ">
                                <div class="col3 ">
                                    <img style="width: 55%; height: 55%; " src="image/lock.png " alt=" ">
                                </div>
                                <div class="col8 ">
                                    <!-- <p style="height: 10%; ">Enter Username</p> -->
                                    <input type="password" name="pass" placeholder=" Enter Password" autocomplete="off">
                                </div>
                            </div>
                            <button type="submit " class="button-1 ">Login</button>
                        </form>
                        <button id="button-2">Sign Up</button>
                    </div>
                    <div class="last-div ">
                        <p style="color: black;font-size: 1.4em;font-family: 'Benne', serif; ">Or You Can Join With</p>
                        <a href="# "><img class="img1 " style="width: 2em;height: 2em;border-radius: 2em;margin-left: 1em;margin-top: -1em; " src="image/google.png " alt=" "></a>
                        <a href="# "><img class="img2 " style="width: 2em;height: 2em;border-radius: 2em;margin-left: 0.5em;margin-top: -1em; " src="image/facebook-icon.png " alt=" "></a>
                        <a href="# "><img class="img3 " style="width: 2em;height: 2em;border-radius: 2em;margin-left: 0.5em;margin-top: -1em; " src="image/twitter.png " alt=" "></a>
                        <a href="# "><img class="img4 " style="width: 2em;height: 2em;border-radius: 2em;margin-left: 0.5em;margin-top: -1em; " src="image/instagram-512.png " alt=" "></a>
                    </div>
                </div>
                <!-- <form>
                        <label for=" "><b>Username: </b></label>
                        <input type="text " placeholder="Enter Username "><br>
                        <label for=" ">"<b>Password: </b>
                        </label>
                        <input type="text" placeholder="Enter Password" name="pass">
                        <button class="botn">Login</button>
                        </form> -->
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
        var index = 0;
        start();

        function start() {
            var imag = document.getElementsByClassName("col-img");
            for (var i = 0; i < imag.length; i++) {
                imag[i].style.display = "none";
            }
            index = index % 5;
            imag[index].style.display = "block";
            index++;
            setTimeout(start, 8000);
        }
    </script>
    <script type="text/javascript">
        document.getElementById("button-2").addEventListener("click", function() {
            console.log("vaibhav");
            location.href = "/signupRequest";
        });
    </script>

</body>

</html>